/* General & Utilities */

body{
    padding: 0;
    margin:0;
}

p{
    padding-left: 2em;
    text-indent: 2em;
}

.container{
    min-width: 800px;
    width: 60%;
    margin: auto;
}

.d-none {
    display: none;
}

/* Stats */

.stats{
    font-weight: 800;
    font-size: 58px;
}
.win{
color: green;
}

.draw{
 color: grey;
}

.loss{
    color: red;
}

/* Form */

form{
    padding: 20px;
}

input, textarea, select, button {
    width : 150px;
    text-align: center;
    margin-bottom: 10px;
  }